header{
	background-color: $base;
	padding: 1rem 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	&.shadowheader{
		box-shadow: 0px 3px 6px #0000001A;
	}
	.logo{
		img{
			display: block;
		}
	}
	.IpadDesktop{
		height: 100%;
		nav{
			height: 100%;
			ul{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				list-style: none;
				height: 100%;
				margin: 0;
				padding: 0;
				li{
					margin-left: 2.5rem;
					position: relative;
					cursor: pointer;
					&:first-child{
						margin-left: 0;
					}
					&.submenu{
						ul{
							box-shadow: 0px 3px 6px #0000001A;
							li{
								width: 100%;
								a{
									padding: 1.5rem 2rem;
									color: $base;
									text-transform: unset;
									&:hover{
										background-color: $orange;
										color: $white;
									}
								}
							}
						}

						transition: 0.3s ease-in-out;
						&:after{
							content: "";
							position: absolute;
							right: 0;
							top: 7px;
							background: url(../img/arw-down-white.svg) 0 0 no-repeat;
							width: 11px;
							height: 7px;
							transition: 0.3s ease-in-out;
						}
						&:hover{
							&:after{
								transform: rotate(180deg);
								background: url(../img/arw-down-ornage.svg) 0 0 no-repeat;
							}
						}
						a{
							padding-right: 1.5rem;
							position: relative;
						}
					}
					a{
						text-decoration: none;
						font-family: $mediumFont;
						font-size: 1.6rem;
						color: $white;						
						padding-bottom: 0.5rem;
						letter-spacing: 0px;
						position: relative;
						transition: all .2s ease-in-out; 
						line-height: 1;
						@media(min-width: 1024px){
							font-size: 1.2rem;
						}
						@media(min-width: 1280px){
							font-size: 1.6rem;
						}
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							background: #FABA15 0% 0% no-repeat padding-box;
							width: 0;
							height: 1px;
							right: 0;
    						margin: 0 auto;
							transition: all .5s ease-in-out; 
						}
						&:before{
							content: "";
							position: absolute;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background: #FABA15 0% 0% no-repeat padding-box;
							bottom: -1.65px;
							left: 0;
							right: 0;
							margin: 0 auto;
							opacity: 0;
							visibility: hidden;
							transition: all .5s ease-in-out; 
						}
					}
					&:hover{
						ul{
							opacity: 1;
							visibility: visible;
							margin: 0;
						}
						a{
							color: $orange;
							&:after{
								width: 100%;
							}
							&:before{
								opacity: 1;
								visibility: visible;
								transform: scaleY(1.1);
							}
						}
					}
					&.contactus{
						&:after{
							background: url(../img/white-arw-dwn.svg) 0 0 no-repeat;
							right: 20px;
						}
						&:hover{
							&:after{
								background: url(../img/arw-down.svg) 0 0 no-repeat;
							}
						}
						a{
							background: $gradientBg;
							padding-bottom: 0;
							padding: 1.6rem 4rem 1.3rem 2rem;
							transition: all .2s ease-in-out;  
							color: $white;
							font-weight: 600;
							font-size: 1.4rem;
							@media(min-width: 1024px){
								font-size: 1.2rem;
							}
							@media(min-width: 1280px){
								font-size: 1.4rem;
							}
							&:hover{
								background: $GreygradientBg;
								color: $offwhite;
							}
							&:before,&:after{
								display: none;
							}
						}
						ul{
							box-shadow: 0px 3px 6px #0000001A;
							top: 31px;
							li{
								width: 100%;
								a{
									padding: 1.5rem 2rem;
									color: $base;
									background: $white;
									font-weight: 400;
									font-size: 1.6rem;
									&:hover{
										background: $orange !important;
										color: $white;
									}
								}
							}
						}
					}
				}
				ul {
					margin: 0 0 0;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 26px;
					left: 0;
					z-index: 1;    
					background: #444;
					background: $white;
					transition: all .2s ease-in-out;  
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					width: 230px;
					height: auto;
					li{
						margin-left: 0;
						line-height: 1;
						a{
							padding-right: 0;
							padding: 1rem;
							display: block;
							&:after,&:before{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.IpadRemoved{
		height: 100%;
		.MobileMenu{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}


.sub-menu {
    /*padding: 0 0 0 2%;*/
    /*float: right;*/
    padding-top: 9rem;
    left: 0;
    top: -100%;
    transition: all 0.75s ease;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: $base;
    border-radius: 0;
    z-index: 100;
    overflow: hidden;
    display: flex;
    align-items: center;
    @media(min-width: 768px){
        align-items: center;
    }
    &.oppenned {
        top: 0;
        /*&:before{
            width: 100%;
        }
        &:after{
            height: 100%;
        }*/
    }
    ul {
        margin: 0;
        padding: 0 1.5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        @media(min-width: 768px){
            margin: 0;
        }
    }
    li {
        list-style: none;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        margin-bottom: 0;
        padding: 1.5rem 0;
        width: 100%;
        border-top: thin solid #757070;
        @media(min-width: 768px){
            margin-bottom: 0;
            text-align: unset;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        &.contactus{
        	padding-top: 3rem;
        	a{
				background: $gradientBg;
				padding-bottom: 0;
				padding: 1.6rem 2.4rem 1.3rem;
				transition: all .2s ease-in-out;  
				color: $white;
				font-weight: 600;
				font-size: 1.4rem;
				display: inline-block;
				&:hover{
					background: $GreygradientBg;
					color: $offwhite;
				}
			}
        }
        &.haveSubmenu{
        	a{
        		position: relative;
        		display: flex;
				span{
	              	display: none;
	              	@media(max-width: 991px){
		                right: 0;
		                top: 0;
		                position: inherit;
		                transform: translateY(0);
		                height: auto;
		                width: 25px;
		                display: flex;
		                justify-content: center;
		                align-items: center;
	              	}
	            }
        	}

        	ul{
        		height: 0;
        		opacity: 0;
        		visibility: hidden;
    			transition: all .2s linear; 
        		li{
        			
        		}
        	}
        }
        &.Active_MobileDropdown{
        	padding-bottom: 0;
        	a{
        		padding-bottom: 1.5rem;
        	}
    		ul{
    			height: auto;
    			visibility: visible !important;
    			opacity: 1;
    			transition: all .2s linear;
    			padding: 0; 
    			li{
    				a{
    					padding-bottom: 0;
    				}
    			}
    		}
    	}

        a{
            color: $white;
            display: block;
            letter-spacing: 0.01rem;
            font-weight: 400;
            font-family: $primaryFont;
            text-decoration: none;
            @media(min-width: 768px){
                font-size: 16px;
            }
            &:hover {
                text-decontarion: none;
                color: $grey;
            }
        }
        
    }
}


.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 25px;
    padding: 0;
    width: 28px;
    height: 20px;
    z-index: 2;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    background: transparent;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    &:focus {
        outline: none;
    }
      span {
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        height: 2px;
        background: $orange;
        width: 28px;
        @media(min-width: 768px){
            top: 11px;
        }
        &:before, &:after {
          position: absolute;
          display: block;
          left: 0;
          
          height: 2px;
          background-color: $orange;
          content: "";
        }
        &:before {
          top: -7px;
          width: 20px;
        }
        &:after {
          bottom: -7px;
          width: 25px;
        }
    }
}

.c-hamburger--htx {
  span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    &:before, &:after {
      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;    
    }
    &:before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
      }
    &:after {
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    span {
      background: none;   

      &:before, &:after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
      } 
    
      &:before {
        width: 100%;
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        width: 100%;
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}