
.AccordionSection {

    .wrap{
        margin-bottom: 5rem;
        &:last-child{
            margin-bottom: 0;
        }
        h2{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
                margin-right: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                background: url(../img/rectangle.svg) no-repeat;
                background-size: cover;
                border-radius: 3px;
                padding: 1.5rem;
            }
        }
    }

    .accordion {
        display: block;
        position: relative;
        width: 100%; padding: 0;
        margin: 1rem 0 0;
    }

    .accordion__item {
        display: block;
        width: 100%;
        background: rgba(254,240,231,0.5);
        margin-bottom: 1.5rem;
        @include Ease(0.25s);
        &:last-child {
            margin-bottom: 0;
        }
        @media(min-width: 768px){
            margin-bottom: 2rem;
        }
    }

    .accordion__title {
        display: block;
        position: relative;
        /*line-height: 40px;*/
        padding: 1.5rem 2.5rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: $base;
        text-decoration: none;
        color: $base;
        overflow: hidden;
        font-family: $primaryFont;
        @include Ease(0.25s);
        @media(max-width:767px){
            font-size: 1.6rem;
            padding: 12px 50px 12px 15px;
            line-height: 25px;
        }
        @media(min-width:768px){
            padding: 1.5rem 4.5rem 1.5rem 2.5rem;
        }
        @media(min-width:1024px){
            padding: 1.5rem 2.5rem;
        }

        

        &.active {
            color: $white;
            background: $gradientBg !important;
            padding-bottom: 1rem;
            font-weight: 600;


        
            & .x7 {
            transform: rotate(-90deg);}
            
            & .btop {
                width: 67%;
                top: 2px;
                transform: translateY(-50%) rotate(-90deg);
                transform-origin: 50% 50%; 
                background-color: $white;
            }
            & .bmid {
                opacity: 0;
            }
            & .bbot {
                width: 67%;
                bottom: 2px;
                transform: translateY(50%) rotate(90deg);
                transform-origin: 50% 50%;
                background-color: $white;
            }
        }
    }


    .accordion__content {
        display: none;
        position: relative;
        overflow: hidden;
        padding: 10px 15px 20px 15px;
        background: $gradientBg !important;
        margin-bottom: 0;
        @media(min-width: 768px){
            padding: 0 30px 20px 30px;
        }
        &_inner{
            padding: 1rem 0;
        }
        .Head{
            margin-bottom: 1rem;
            font-size: 1.8rem;
            padding-top: 20px;
            color: $base;
            &:first-child{
                padding-top: 0;
            }
        }
        h3{
            margin-bottom: 1rem;
            font-size: 1.8rem;
            padding-top: 20px;
            color: $base;
            &:first-child{
                padding-top: 0;
            }
        }
        p{
            font-size: 1.6rem;
            line-height: 1.4;
            color: $white;
            margin-bottom: 0;
            @media(min-width: 768px){
                font-size: 1.6rem;
                line-height: 1.6;
            }
            a{
                color: $white;
                transition: 0.3s all;
                &:hover{
                    color: $base;
                }
            }
        }
        .bullets{
            margin-bottom: 1rem;
            margin-top: 1rem;
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 0;
                margin-top: 1rem;
                color: $white;
                font-family: $primaryFont;
                padding-left: 2rem;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $white;
                    left: 0;
                    top: 5px;
                    z-index: 1;
                }
                ol{
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    list-style: none;
                    padding: 0;
                    visibility: visibile !important;
                    li{
                        margin-bottom: 0;
                        margin-top: 1rem;
                        color: $white;
                        font-family: $primaryFont;
                        padding-left: 2rem;
                        position: relative;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $white;
                            left: 0;
                            top: 5px;
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .TableBox{
            margin-bottom: 1rem;
            margin-top: 1rem;
                background: #ccc;
            @media (max-width: 768px){
                max-width: 800px;
                overflow-x: scroll;
            }
            table{          
                /*border-collapse: separate;
                border-spacing: 0 2rem; */
                @media (max-width: 768px){
                    table-layout: fixed;
                    border-spacing: 0rem;
                    border: thin solid #ccc;
                }
                thead{
                    tr{
                        border-bottom: none;
                    }
                }
                tr{
                    /*display: flex;*/
                    border-bottom: 1px solid #ccc;
                    @media (max-width: 768px){
                        box-shadow: none;
                        border-bottom: 0rem solid transparent;
                    }
                    td:not(:last-child){
                        border-right: thin solid #ccc;
                    }

                    .Type,.Size,.Customers,.State{
                        border-collapse: collapse;
                        vertical-align: top;
                        width: 35%;
                        text-align: left;
                        padding: 1.5rem 3rem;
                        @media (max-width: 767px){
                            padding: 1.5rem;
                        }
                        ul{
                            li{
                                color: $base;
                                position: relative;
                                padding-left: 2rem;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    background: $orange;
                                    left: 0;
                                    top: 5px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                    .Size{
                        width: 30%;
                    }
                    .Customers{
                        width: 35%;
                    }
                    .State{
                        width: 20%;
                    }
                }
                th{         
                    background-color: $base;
                    font-size: 1.8rem;
                    color: $white;
                    font-family: $semiBold;
                }
                td{
                    background-color: $white;
                    font-size: 1.8rem;
                    color: $base;
                    font-family: $semiBold;
                    word-wrap: break-word;
                }
            }
        }
        
    }
}

// --- Icon ---
.bmenu { 
    width: 30px; 
    height: 15px; 
    display: block; 
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media(max-width:767px){
        width:20px;
        height:11px;
        right: 10px;
    }
}

.btop, .bmid, .bbot {
    right: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    background: $base;
    border-radius: 1px;
}

.btop {
    width: 100%;
}

.bmid {
    width: 60%;
}

.bbot {
    width: 100%;
}

.x7 {
    transition: transform .3s ease-out;
    transform-origin: 60% 75%;
    
    & .btop {
        top: 45%;
        transition: width .3s, transform .3s, top .0s;
        transition-timing-function: ease-out; }

    & .bmid {
        top: calc(50% - 1px);
        transform-origin: 100% 50%;
        transition: opacity .1s;
        transition-timing-function: ease-out; }

    & .bbot {
        bottom: 52%;
        transition: width .3s, transform .3s, bottom .0s;
        transition-timing-function: ease-out; 
        transform: translateY(50%) rotate(90deg);
        transform-origin: 50% 50%;
        }
    }