.OrangeYellowButton{	
    padding: 1.6rem 4rem 1.3rem;
    transition: all 0.6s ease-in-out;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    background: linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0% 0% no-repeat padding-box;
    @media(max-width: 767px){
        padding: 1.2rem 3rem 1rem;
    }
    span{
    	position: relative;
    	z-index: 9;
    }
    /*&:before{
    	content: "";
    	position: absolute;
    	width: 0;
    	height: 100%;
    	top: 0;
    	right: 0;
    	transition: all 0.6s linear;
    	background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
    }
    &:after{
    	content: "";
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	transition: all 0.6s linear;
    	background: linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0 0 no-repeat padding-box;
    }*/
    &:hover{
        background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
    	/*&:before{
    		width: 100%;
    	}
    	&:after{
    		width: 0;
    	}*/
    }
}

.WhiteButton{	
    padding: 1.6rem 4rem 1.3rem;
    transition: all .6s ease-in-out;
    text-decoration: none;
    color: $darkbase;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    text-transform: uppercase;
    span{
    	position: relative;
    	z-index: 9;
    }
    &:before{
    	content: "";
    	position: absolute;
    	width: 0;
    	height: 100%;
    	top: 0;
    	right: 0;
    	transition: all .6s linear;
    	background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
    }
    &:after{
    	content: "";
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	transition: all .6s linear;
    	background: transparent linear-gradient(91deg, #fff, #fff) 0 0 no-repeat padding-box;
    }
    &:hover{
    	/*background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;*/
    	&:before{
    		width: 100%;
    	}
    	&:after{
    		width: 0;
    	}
    	color: $white;
    }
}