.CenterAlignContent{
	.CenterContent{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		p{
			line-height: 1.7;
			margin-bottom: 0;
		}
	}
}


.OverlflowImageWithOurusp{
	margin-top: -9rem;
	position: relative;
	z-index: 1;
	padding-bottom: 5rem;
	@media(min-width: 768px){
		margin-top: -18rem;
		padding-bottom: 8rem;
	}
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 60%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-color: rgba(#FEF1E8, 0.5);
		z-index: -1;
	}
	&:before{
		content: "";
		position: absolute;
		width: 104px;
		height: 208px;
		top: 40rem;
		right: 0;
		background: url(../img/small-right.svg) no-repeat;
		background-size: contain;
		z-index: -1;
		display: none;
		@media(min-width: 768px){
			display: block;
		}
	}
	.TopImage{
		img{
			width: 100%;
			display: block;
		}
	}

	.UspCardsWithHeading{
		padding-top: 5rem;
		@media(min-width: 768px){
			padding-top: 5rem;
		}
		@media(min-width: 1024px){
			padding-top: 7rem;
		}
		.CenterHeading{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			h2{
				margin-bottom: 2rem;
			}
			p{
				line-height: 1.7;
				margin-bottom: 0;
			}
		}
		.UspCardsBlock{
			.row{
				margin-right: -25px;
    			margin-left: -25px;
    			.col-12{
    				padding-right: 25px;
    				padding-left: 25px;
    			}
			}
			.Cards{
				margin-top: 5rem;
				box-shadow: 0px 5px 10px #0000001A;
				.TopOrangeHeading{
					padding: 2rem;
					background-size: cover !important;
					position: relative;					
					background: $gradientBg;
					@media(min-width: 1024px){
						padding: 3rem;
					}
					@media(min-width: 1280px){
						padding: 3rem 4rem;
					}
					&:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: -1;
					}
					h4{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-bottom: 0;
						color: $white;
						font-family: $semiBold;
						font-size: 2.2rem;
						img{
							margin-right: 2rem;
						}
					}
				}
				.BottomWhiteContent{
					padding: 2rem;
					background-color: $white;
					min-height: 320px;
					@media(min-width: 768px){
						min-height: 395px;
					}
					@media(min-width: 1024px){
						padding: 3rem;
						min-height: 320px;
					}
					@media(min-width: 1280px){
						padding: 3rem 4rem;
					}
					p{
						margin-bottom: 2rem;
						line-height: 1.7;
						&:last-child{
							margin-bottom: 0rem;
						}
						a{
							color: $orange;
							border-bottom: thin solid $orange;
							text-decoration: none;
						}
					}
					&.IconBlock{
						min-height: auto;
						padding: 3rem 1.5rem;
						@media(min-width: 768px){
							padding: 2rem;
						}
						@media(min-width: 1024px){
							padding: 3rem;
						}
						@media(min-width: 1280px){
							padding: 3rem 4rem;
						}
						ul{
							list-style: none;
							margin: 0;
							padding: 0;
							display: flex;
							align-items: flex-start;
							justify-content: center;
							flex-wrap: wrap;
							@media(min-width: 768px){
								margin: 5rem 0 0;
								justify-content: center;
							}
							@media(min-width: 1024px){
								justify-content: space-between;
							}
							li{
								flex-basis: 50%;
								text-align: center;
								padding: 0;
								margin-top: 3rem;
								@media(min-width: 768px){
									flex-basis: 33.333%;
									padding: 0 1.5rem;
									margin-top: 1.5rem;
								}
								@media(min-width: 1024px){
									flex-basis: 20%;
									padding: 0 2rem;
									margin-top: 0rem;
								}
								p{
									font-family: $mediumFont;
									margin-bottom: 0;
									text-align: center;
									margin-top: 1rem;
									line-height: 1.5;
								}
							}
						}
					}
				}
			}
		}
		.AllLineage{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 5rem;
			@media (max-width: 767px){
				margin-top: 3rem;
			}
			a{
				color: $base;
				text-decoration: none;
				font-size: 1.4rem;
				position: relative;
				transition: 0.6s all;
				@media(min-width: 768px){
					font-size: 2.2rem;
				}
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 1px;
					background-color: $base;
					bottom: 2px;
					left: 0;
					right: 0;
					margin: 0 auto;
					transition: 0.3s all;
				}
				&:after{
					content: "";
					position: absolute;
					width: 0%;
					height: 1px;
					background: $gradientBg;
					bottom: 2px;
					left: 0;
					right: 0;
					margin: 0 auto;
					transition: 0.6s all;
				}
				&:hover{
					color: $orange;
					&:before{
						width: 0;
					}
					&:after{
						width: 100%;
					}
				}
			}
		}
	}
}