.GradientBlock{
	background: linear-gradient(270deg, #fbe10e -10%, #ef7741 16%, #f3763e 180%) 0 0 no-repeat padding-box;
	padding-bottom: 24rem;
	position: relative;
	@media(max-width: 768px){
		padding-bottom: 22rem;
		background: linear-gradient(360deg, #fbe10e -10%, #ef7741 16%, #f3763e 180%) 0 0 no-repeat padding-box;
	}
	&:after{
		content: "";
		position: absolute;
		width: 149px;
		height: 257px;
		right: 0;
		top: 20%;
		background: url(../img/white-element.svg) no-repeat;
		background-size: 100%;
		@media(max-width: 768px){
			transform: rotate(90deg);
			left: 0;
			margin: 0 auto;
			width: 110px;
			height: 190px;
			top: 65%;
		}
	}
	&.NewGradientBlock{
		&:after{
			@media(max-width: 768px){
				top: 72%;
			}
		}
	}
	.HeadingWithIconBox{
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		@media(min-width: 768px){
			max-width: 1200px;
		}
		h2{
			display: inline-block;
		}
		.row{
			.col-6{
				.IconWithHeading{
					position: relative;
					/*&:before{
						content: "";
						position: absolute;
						width: 1px;
						height: 220px;
						top: 0%;
						left: 0;
						background-color: rgba($white, 0.5);
						display: none;
						@media(min-width: 768px){
							display: block;
						}
					}*/
					&:after{
						content: "";
						position: absolute;
						width: 1px;
						height: 170px;
						top: 0%;
						right: -15px;
						background-color: rgba($white, 0.5);
						display: none;
						@media(min-width: 768px){
							display: block;
						}
					}
				}
				&:last-child{
					.IconWithHeading{
						position: relative;
						&:after{
							display: none;
						}
					}
				}
			}
		}
		.IconWithHeading{
			margin-top: 1.5rem;
			@media(min-width: 768px){
				margin-top: 1rem;
			}
			@media(min-width: 1299px){
				margin-top: 5rem;
			}
			.Icons{
				width: 80px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $white;
				border-radius: 3px;
				margin: 0 auto 2rem;
				@media(min-width: 768px){
					width: 100px;
					height: 100px;
				}
				img{
					@media(max-width: 768px){
						max-width: 60%;

					}
				}
			}
			h4{
				font-size: 2.4rem;
				color: $white;
				font-family: $semiBold;
				line-height: 1;
				margin-bottom: 1rem;
			}
			p{
				margin-bottom: 0;
				text-align: center;
				color: $white;
				font-family: $mediumFont;
				@media(max-width: 768px){
					font-size: 13px;
				}
			}
		}
	}
	.LearnMore{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 6rem;
		@media(max-width: 768px){
			margin-top: 3rem;
		}
	}
	.TopWhiteContentOnly{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				font-family: $primaryFont;
				color: $white;
				margin-bottom: 3rem;
				@media(max-width: 768px){
					margin-bottom: 1.5rem;
				}
				&:last-child{
					margin-bottom: 0;
					@media(max-width: 768px){
						margin-bottom: 1.5rem;
					}
				}
				strong{
					font-family: $boldFont;
				}
			}
		}
	}
	.ContentWithLink{
		margin-top: 3.5rem;
		p{
			font-size: 2.2rem;
			color: $white;
			margin-bottom: 0;
			@media(max-width: 768px){
				font-size: 1.8rem;
			}
			a{
				font-weight: 600;
				text-decoration: none;
				border-bottom: thin solid $white;
				color: $white;
				transition: 0.2s all;
				&:hover{
					color: $base;
					border-color: $base;
				}
			}
		}
	}
}


.ThankyouContentBlock{
	background: url(../img/gradient-bg.svg) no-repeat;
	background-size: cover;
	padding: 12rem 0;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 167px;
		height: 347px;
		top: 20%;
		left: 0;
		background: url(../img/thankyou-element.svg) no-repeat;
		background-size: contain;
		@media(max-width: 767px){
			width: 125px;
			height: 220px;
			transform: rotate(-90deg);
			right: 0;
			margin: 0 auto;
			top: 71.1%;
		}
		@media(min-width: 1024px){
			top: 23%;
		}
		@media(min-width: 1280px){
			top: 20%;
		}
	}
	.ThankyouContent{
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@media(min-width: 768px){
			max-width: 650px;
		}
		.TickIcon{
			width: 105px;
			height: 105px;
			border-radius: 50%;
			background: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 4rem;
		}
		h2{
			margin-bottom: 2.5rem;
			@media(max-width: 768px){
				font-size: 2.3rem;
			}
		}
		p{
			margin-bottom: 0;
			line-height: 1.7;
			a{
				text-decoration: underline;
				color: $white;
			}
		}
	}
}