.HomeBanner{
	position: relative;
	img{
		display: block;
		width: 100%;
	}
	.BannerContent{
		position: absolute;
		top: 43%;
		width: 100%;
		@media(max-width: 767px){
			top: 43%;
		}
		@media(min-width: 768px){
			top: 30%;
		}
		@media(min-width: 1024px){
			top: 43%;
		}
		.BannerText{
			text-align: center;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    font-family: $mediumFont;
		    @media(max-width: 768px){
		    	max-width: 205px;
		    	margin: 0 auto;
		    	align-items: flex-start;
		    	justify-content: center;
		    	text-align: left;
		    }
			h1{
				font-size: 3.5rem;
				color: $white;
				padding-right: 1.5rem;
				padding-bottom: 0.35rem;
				text-transform: uppercase;
				font-family: 'Metropolis-Bold';
				@media(max-width: 768px){
					font-size: 2.5rem;
				}
				&:after{
					@media(max-width: 768px){
			            height: 2px;
			            width: 90%;
			        }
				}
				&:before{
					@media(max-width: 768px){
				        width: 7px;
				        height: 7px;
				        right: 10%;
				    }
				}
				span{
					text-transform: lowercase;
				}
			}
			h4{
				font-size: 2.4rem;
				color: $white;
				@media(max-width: 768px){
					font-size: 1.7rem;
					font-weight: 600;
				}
			}
		}
	}
	.RadianceBanner{
		position: absolute;
		bottom: 0%;
		width: 100%;
		height: 100px;
	}
	&.InsideBanner{
		.BannerContent{
			.BannerText{
				@media(max-width: 768px){
			    	max-width: 100%;
			    	margin: 0 auto;
			    	align-items: center;
			    	justify-content: center;
			    	text-align: left;
			    }
			}
		}
	}
	&.InsideBigBanner{
		.BannerContent{
			top: 43%;
			@media(max-width: 767px){
				top: 43%;
			}
			@media(min-width: 768px){
				top: 40%;
			}
			@media(min-width: 1024px){
				top: 43%;
			}
		}
	}
	.slick-arrow{
    	width: 25px;
    	height: 47px;
    	z-index: 9;

    	@media (max-width: 767px){
    		background-size: 50% !important;
    		height: 25px;
    	}
    	@media (min-width: 767px){
    		top: 43%;
    	}
    	@media (min-width: 1024px){
    		top: 50%;
    	}
    	&:before{
    		font-size: 0;
    	}
    	&.slick-prev{
    		background: url(../img/white-left.svg) no-repeat;
    		left: 35px;
    		@media (max-width: 767px){
    			left: 15px;
    		}
    	}
    	&.slick-next{
    		background: url(../img/white-right.svg) no-repeat;
    		right: 35px;
    		@media (max-width: 767px){
    			right: 10px;
    		}
    	}
    }
}