.OverlflowImageWithIconBox{
	margin-top: -9rem;
	position: relative;
	z-index: 1;
	padding-bottom: 5rem;
	@media(min-width: 768px){
		margin-top: -17rem;
		padding-bottom: 5rem;
	}
	@media(min-width: 1024px){
		margin-top: -18rem;
		padding-bottom: 7rem;
	}
	&:before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 30%;
		background: url(../img/left-element.svg) no-repeat;
		width: 123px;
		height: 218px;
		display: none;
		@media(min-width: 1024px){
			display: block;
		}
	}
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 120px;
		right: 0;
		bottom: 0;
		background: url(../img/tricular.svg) no-repeat;
		z-index: -1;
		background-size: cover;
		@media(min-width: 768px){
			width: 700px;
			height: 362px;
		}
	}

	.TopImage{
		img{
			width: 100%;
			display: block;
		}
	}
	.LeftIconsRightImage{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 0;
		.row{
			max-width: 96%;
			margin: 0 auto;
			justify-content: center;
			@media(min-width: 768px){
				max-width: 1000px;
				justify-content: flex-start;
			}
		}
		.IconBox{
			flex-basis: 100%;
			padding-right: 0%;
			padding-top: 5rem;
			h2{
				text-align: center;
				padding-bottom: 0;
				margin-bottom: 0.25rem;
				@media(min-width: 768px){
					margin-bottom: 0rem;
				}
			}
			h4{
				text-align: center;
				padding-bottom: 0;
				margin-bottom: 0;
				font-family: $secondaryFont;
				font-style: italic;
				font-size: 2rem;
				color: $base;
				margin-bottom: 1rem;
				@media(min-width: 768px){
					margin-bottom: 1.5rem;
					font-size: 2.4rem;
				}
				br{
					display: block;
					@media(min-width: 768px){
						display: none;
					}
				}
			}
			.IconWithHeading{
				margin-top: 2rem;
				@media(min-width: 768px){
					margin-top: 2rem;
				}
				@media(min-width: 1024px){
					margin-top: 4rem;
				}
				.Icon{
					background: url(../img/rectangle.svg) no-repeat;
					background-size: cover;
					width: 100px;
					height: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 auto 2rem;
				}
				h4{
					text-align: center;
					font-weight: 600;
					color: $orange;
					line-height: 1;
					margin-bottom: 0.5rem;
					font-style: inherit;
					@media(min-width: 768px){
						margin-bottom: 0rem;
					}
				}
				p{
					text-align: center;
					margin-bottom: 0;
					font-size: 2.4rem;
					/*color: $base;*/
					line-height: 1.5;
					font-family: $semiBold;
					@media(max-width: 768px){
						font-size: 1.6rem;
						line-height: 1.5;
					}
					span{
						font-size: 1.6rem;
						color: $base;
						font-family: $secondaryFont;
					}
				}
			}
		}
	}
}