.WhoWeAre{
	padding-top: 5rem;
	@media(max-width: 767px){
		padding-bottom: 5rem;
		padding-top: 4rem;
	}
	.TopHeading{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		@media(min-width: 768px){
			max-width: 1000px;
		}
		h2{
			margin-bottom: 2rem;
			@media(min-width: 768px){
				margin-bottom: 2.5rem;
			}
		}
		p{
			line-height: 1.7;
			margin-bottom: 3rem;
		}
	}
	.TopIconBottomHeading{
		max-width: 75%;
		margin: 0 auto;
		@media(min-width: 768px){
			max-width: 700px;
		}
		.IconWithHeading{
			margin-top: 2rem;
			display: flex;
		    align-items: flex-start;
		    justify-content: center;
		    flex-direction: column;
		    text-align: center;
			@media(min-width: 768px){
				margin-top: 3rem;
			}
			.IconBox{
				background: url(../img/rectangle.svg) no-repeat;
				background-size: cover;
				width: 100px;
				height: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
			}
			h4{
				text-align: center;
				font-size: 1.8rem;
				margin-top: 1.8rem;
				font-weight: 600;
				color: $base;
				margin-bottom: 0;
				@media(min-width: 768px){
					font-size: 2rem;
				}
			}
		}
	}
	&.TopIconBottomContentSection{
		@media(max-width: 767px){
			padding: 5rem 0;
		}
		.TopIconBottomHeading{
			max-width: 100%;
			margin: 0 auto;
			@media(min-width: 768px){
				max-width: 100%;
			}
			.row{
				.col-12{
					margin-bottom: 3rem;
					@media(min-width: 768px){
						margin-bottom: 0rem;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.IconWithHeading{	
				@media(max-width: 767px){
					margin-top: 0;
				}			
				.IconBox{
					margin: 0;
				}
				h4{
					text-align: left;
					margin-bottom: 0.75rem;
					margin-top: 2rem;
					font-size: 2rem;
				}
				p{
					line-height: 1.7;
					margin-bottom: 0;
					padding-right: 3rem;
					text-align: left;
					@media(max-width: 767px){
						padding: 0;
					}
				}
			}
		}
	}
}