* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
  overflow: hidden;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $black;
  transition: all .4s .3s ease-in;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
body,html{
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: $base;
  line-height: 1.5;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  @media (min-width: 768px){
    font-size: 5rem;
  }
}

h2 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Metropolis-Light';
  color: $base;
  line-height: 1.1;
  font-weight: normal;
  padding-bottom: 0.5rem;
  @media (min-width: 768px){
    font-size: 3rem;
  }
  @media (min-width: 1024px){
    font-size: 3.2rem;
  }
  @media (min-width: 1280px){
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: normal;
  font-family: 'Metropolis-Light';
  color: $darkgrey;
}

h5 {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Metropolis-Light';
  color: $darkgrey;
}

h6{
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.DesktopOnly{
  display: none;
  @media (min-width: 768px) {
      display: block;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none;
    }
}

.IpadDesktop{
  display: none;
  @media (min-width: 1024px) {
      display: block;
    }
}

.IpadRemoved{
  @media (min-width: 1024px) {
      display: none;
    }
}

.DesktopFooter{
  display: none;
  @media (min-width: 1024px) {
      display: block;
    }
}

.MobileFooter{
  @media (min-width: 1024px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.GreyBgSection{
  background-color: $lightgrey;
}

.darkBgSection{
  background-color: $base;
}

.WhiteBgSection{
  background-color: $white !important;
}

.LiteOrangeSection{
  background-color: rgba($orange, 0.05);
}

.OrangeBorderBottom{
    position: relative;
    padding-right: 1rem;
    display: inline-block;
    margin-bottom: 2.5rem;
    /*@media(max-width: 768px){
        padding-right: 0;
    }*/
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #F37D3B 0% 0% no-repeat padding-box;
        width: 100%;
        height: 2px;
        transition: all .5s ease-in-out; 
        @media(max-width: 768px){
          height: 2px;
        }
    }
    &:before{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #F37D3B 0% 0% no-repeat padding-box;
        bottom: -2px;
        right: 0;
        margin: 0 auto;
        transition: all .5s ease-in-out; 
        @media(max-width: 768px){
          width: 7px;
          height: 7px;
        }
    }
}

.WhiteBorderBottom{
    position: relative;
    padding-right: 1rem;
    display: inline-block;
    margin-bottom: 2.5rem;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff 0% 0% no-repeat padding-box;
        width: 100%;
        height: 2px;
        transition: all .5s ease-in-out; 
    }
    &:before{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff 0% 0% no-repeat padding-box;
        bottom: -2px;
        right: 0;
        margin: 0 auto;
        transition: all .5s ease-in-out; 
    }
}

.LiteOrangeBorderBottom{
    position: relative;
    padding-right: 1rem;
    display: inline-block;
    margin-bottom: 2.5rem;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: transparent linear-gradient(90deg, #FDC60B 0%, #F2773F 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 2px;
        transition: all .5s ease-in-out; 
        @media(max-width: 768px){
          height: 2px;
        }
    }
    &:before{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: transparent linear-gradient(50deg, #FDC60B 0%, #F2773F 50%) 0% 0% no-repeat padding-box;
        bottom: -2px;
        right: 0;
        margin: 0 auto;
        transition: all .5s ease-in-out; 
        @media(max-width: 768px){
          height: 7px;
          width: 7px;
        }
    }
}

.GreyText{
  color: $base;
}

.WhiteText{
  color: $white;
}

.CenterLeftElement{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 35%;
    background: url(../img/left-element.svg) no-repeat;
    width: 123px;
    height: 218px;
  }
}

.RightBottomElement{
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 38%;
        height: 215px;
        right: 0;
        bottom: 0;
        background: url(../img/tricular.svg) no-repeat;
        z-index: -1;
        background-size: 100%;
    }
}


.pb7{
  padding-bottom: 4rem;
  @media(min-width: 768px){
    padding-bottom: 5rem;
  }
  @media(min-width: 1024px){
    padding-bottom: 0rem;
  }
}


section{
    .TopHeading{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: 3rem;
        h2{
            margin-bottom: 2rem;
        }
        p{
            line-height: 1.7;
            margin-bottom: 1rem;
        }
        .OrangeYellowButton{
            padding: 1.5rem 4rem;
            font-size: 1.6rem;
            text-transform: uppercase;
            @media(max-width: 767px){
                padding: 1rem 3rem 0.8rem;
            }
        }
    }
}