$base : #595959;
$darkbase : #484A4C;
$black: #000;
$offblack: #040505;
$white: #fff;
$offwhite: #f9fbfc;
$offgreen: #E8F9FD;
$skyblue: #01A7FD;
$yellow: #FFCC00;
$lightyellow: #FFD000;
$lightgrey: #f2f2f2;
$darkgrey: #333333;
$offgrey: #63666A;
$orange: #F37A20;
$darkorange: #EB5B0A;
$grey: #97999B;


$primaryFont: 'Metropolis-regular';
$secondaryFont: 'Metropolis-Light';
$boldFont: 'Metropolis-Bold';
$thinFont: 'Metropolis-Thin';
$mediumFont: 'Metropolis-Medium';
$semiBold: 'Metropolis-SemiBold';





$gradientBg: linear-gradient(270deg, #FBE10E -90%, #F3763E 35%) 0% 0% no-repeat padding-box;
$GreygradientBg: transparent linear-gradient(91deg, #FBE10E 0%, #F3763E 100%) 0% 0% no-repeat padding-box;
$GreyBg: transparent linear-gradient(91deg, #595959 0%, #333333 100%) 0% 0% no-repeat padding-box;