.RecruitmentSection{
	position: relative;
	width: 100%;
	z-index: 9;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 40%;
		top: 0;
		left: 0;
		background-color: rgba(254,240,231,0.5);
    	z-index: -1;
	}
	.TopHeading{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		margin-bottom: 6rem;
		@media(max-width: 768px){
			margin-bottom: 5rem;
		}
		h2{
			margin-bottom: 2rem;
		}
		p{
			line-height: 1.7;
			margin-bottom: 2rem;
		}
		.OrangeYellowButton{
			padding: 1.5rem 4rem;
			font-size: 1.6rem;
			text-transform: uppercase;
			@media(max-width: 768px){
				padding: 1rem 4rem;
			}
		}
	}
	.ThreeCardsBlock{
		.LeftIconRightContentBox{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			box-shadow: 0px 0px 20px rgba($black, 0.1);
			margin-bottom: 3rem;
			@media(max-width: 768px){
				margin-bottom: 5rem;
			}
			&:last-child{
				margin-bottom:0;
			}
			.LeftIcon{
				flex-basis: 20%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				padding: 3rem;
				background-size: cover !important;
				position: relative;
				@media(max-width: 768px){
					flex-basis: 100%;
				}
				&:before {
				    content: "";
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    left: 0;
				    z-index: -1;
				    background: $gradientBg;
				}
				h4{
					font-size: 2rem;
					font-family: $mediumFont;
					color: $white;
				}
				img{
					margin-bottom: 1.5rem;
				}
			}
			.RightContentBox{
				flex-basis: 80%;
				padding: 2rem;
				background: $white;
				@media(max-width: 768px){
					flex-basis: 100%;
				}
				ul{
					margin: 0;
					margin: 0;
					list-style: none;
					padding: 0;
					li{
						padding-left: 2rem;
						margin-top: 1rem;
						color: $base;
						font-size: 1.6rem;
						position: relative;
						&:before{
							content: "";
							position: absolute;
							width: 10px;
							height: 10px;
							background: $gradientBg;
							border-radius: 50px;
							left: 0;
							top: 5px;
						}
					}
				}
			}
		}
	}
}


.ApplyHereSection{
	position: relative;
	width: 100%;
	z-index: 9;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 50%;
		top: 0;
		left: 0;
		background: $gradientBg;
    	z-index: -1;
	}
	.Topheading{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		h2{
			color: $white;
		}
	}
	.ApplyFormBlock{
		margin-top: 3rem;
		box-shadow: 0px 0px 20px #0000001A;
		padding: 4rem;
		background-color: $white;
		@media(max-width: 768px){
			padding: 1.5rem;
			margin-top: 1.5rem;
		}
		form{

		  label{
		    width: 100%;
		    display: block;
		    color: $base;
		    
		  }
		  select,input[type="text"],input[type="email"],textarea{
		    width: 100%;
		    padding: 1rem 0;
		    background-color: transparent;
		    border: none;
		    color: $base;
		    border-bottom: thin solid rgba($grey, 0.5);
		    font-size: 1.6rem;
		    margin-bottom: 3.75rem;
		    &:focus{
		      outline: none;
		    }
		  }
		  .message{
		  	margin-bottom: 0 !important;
		  }
		  select{
		    background-image: url(../img/arw-down.svg);
		    background-position: right;
		    background-size: 2.5%;
		    background-repeat: no-repeat;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		  }
		  input[type="submit"]{
		    position: relative;
		    border: none;
		    background: $gradientBg;
		      padding-bottom: 0;
		      padding: 1rem 4rem;
		      transition: background .5s linear;
		      color: #fff;
		      font-weight: 600;
		      font-size: 1.6rem;
		      text-transform: uppercase;
		      margin-top: 3rem;
		      margin-bottom: 1rem;
		      border-radius: 0;
		      cursor: pointer;
		      @media(min-width: 768px){
		        margin-top: 15px;
		        margin-bottom: 0rem;
		        padding: 1.5rem 5rem;
		      }
		      &:focus{
		        outline: none;
		      }
		      &:hover{
		        background: transparent linear-gradient(91deg, #fbe10e, #f3763e) 0 0 no-repeat padding-box;
		      }
		  }
		}
	}
}